.header-wrapper {
    display: flex;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100px;
    border: 1px solid silver;
    border-radius: 10px;
    color: black;
    text-decoration-line: none;
    margin: 20px;
}

.links:hover {
    box-shadow: 5px 5px 13px silver;
}